:root {
  --bg_color: #282c34;
  --nav_height: 60px;
  --num_canvas: 3;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg_color);
}

.App {
  position: relative;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling during transition */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav_height);
  background-color: #20232a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Stay on top of everything */
}

.navbar-title {
  color: white;
  font-size: 24px;
  font-family: Verdana;
  font-weight: bold;
  margin-right: auto;
}

.navbar-links {
  display: flex;
  margin-right: 20px;
}

.navbar-links button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 10px;
  transition: background 0.3s ease;
}

.navbar-links button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.canvas-container {
  display: flex;
  transition: transform 0.5s ease;
  height: calc(100vh - var(--nav_height)); /* Height below the nav bar */
  position: absolute;
  top: var(--nav_height); /* Adjust below the nav bar */
}

.canvas {
  flex-shrink: 0; /* Prevent canvases from shrinking */
  width: 100vw; /* Each canvas takes full viewport width */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg_color);
  color: white;
}
